---
import { type CollectionEntry, getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import FormattedDate from '../../components/FormattedDate.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post: CollectionEntry<'blog'>) => ({
		params: { slug: post.slug },
		props: post,
	}));
}

type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title} description={post.data.description} image={post.data.heroImage}>
	<article class="prose lg:prose-xl mx-auto">
		{post.data.heroImage && <img width={720} height={360} src={post.data.heroImage} alt="" />}
		<h1 class="text-4xl font-bold mb-4">{post.data.title}</h1>
		<div class="flex flex-col md:flex-row justify-between items-start md:items-center text-lg text-gray-700 mb-6">
			<div class="text-xl">
				<FormattedDate date={post.data.pubDate} />
			</div>
			<div class="mt-2 md:mt-0">
				<span class="font-semibold">Author:</span> <a href="https://x.com/tangledcircuit" target="_blank" rel="noopener noreferrer" class="text-blue-600 hover:underline">{post.data.author}</a> | 
				<span class="font-semibold">Model:</span> {post.data.model}
			</div>
		</div>
		<Content />
	</article>
</Layout>
