---
import { type CollectionEntry, getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import FormattedDate from '../../components/FormattedDate.astro';

export const prerender = true;

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post: CollectionEntry<'blog'>) => ({
		params: { slug: post.slug },
		props: post,
	}));
}

type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title} description={post.data.description} image={post.data.heroImage}>
	<article class="prose lg:prose-xl mx-auto">
		{post.data.heroImage && <img width={720} height={360} src={post.data.heroImage} alt="" />}
		<h1 class="text-4xl font-bold mb-4">{post.data.title}</h1>
		<div class="flex flex-col text-lg mb-6 bg-base-200 p-4 rounded-lg">
			<div class="mb-2 text-primary">
				<span class="font-semibold">Author:</span> <a href="https://x.com/tangledcircuit" target="_blank" rel="noopener noreferrer" class="text-secondary hover:underline">{post.data.author}</a>
			</div>
			<div class="mb-2 text-accent">
				<span class="font-semibold">Date:</span> <FormattedDate date={post.data.pubDate} />
			</div>
			<div class="text-info">
				<span class="font-semibold">Model:</span> {post.data.model}
			</div>
		</div>
		<Content />
	</article>
</Layout>
